fastapi==0.115.12
importlib_metadata==8.6.1
importlib_resources==6.5.2
psycopg2-binary==2.9.10
pydantic==2.11.3
SQLAlchemy==2.0.40
sqlalchemy2-stubs==0.0.2a38
SQLAlchemy-Utils==0.41.2
sqlmodel==0.0.24
starlette==0.46.2
typing_extensions==4.13.2
uvicorn==0.34.1
ollama==0.4.8
pytest==8.3.5
redis==5.2.1
requests==2.32.3
